.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  border-radius: 15px;
  padding: 20px 35px;
  background: var(--black-100);
}