.hot-products {
  margin-bottom: 80px;
}

.hot-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 154%;
    font-variant: small-caps;
    color: var(--black-80);
  }
}

.cards-pagination {
  display: flex;
  gap: 20px;

  p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: var(--black-80);
    margin-right: 10px;
  }
}

.hot-products-cards {
  position: relative;

  img {
    margin-bottom: 15px;
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    font-variant: small-caps;
    color: var(--black-80);
    margin-bottom: 20px;
  }

  p {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--black-60);
  }

  h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #4aaa4e;
    margin-top: 15px;
  }
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hot-products-button-prev,
.hot-products-button-next {
  cursor: pointer;
}